.bar1 {
    /* Add a border to the bars in the speed graph */
    stroke: #000;
    stroke-width: 1;
  }

.bar2 {
    /* Add a border to the bars in the speed graph */
    stroke: #000;
    stroke-width: 1;
  }
