body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.pokedex {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #b30000, #800000);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: height 1s;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.pokedex.closed .inner-screen {
    display: none;
}

.pokedex.open {
    height: 500px;
}

.shell {
    width: 100%;
    height: 20%;
    background: radial-gradient(circle, #b30000, #800000);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.porthole {
    width: 100px;
    height: 50px;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.top-porthole {
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom: none;
    border-radius: 100px 100px 0 0;
    top: 50%;
    background-color: #87CEFA;
}

.bottom-porthole {
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-top: none;
    border-radius: 0 0 100px 100px;
    bottom: 50%;
    background-color: #87CEFA;
}

.inner-screen {
    width: 90%;
    height: 60%;
    background-color: #87CEFA;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    transform: rotate(90deg);
}

.screen {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent),
                #000;
    background-blend-mode: overlay;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 20%;
}

.left-dot {
    left: 20%;
}

.right-dot {
    right: 20%;
}
