<!DOCTYPE html>
<html>
<head>
  <meta chartset="UTF-8">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
      <div class="temp-welcome">
        <div class="welcome">
          <h2>Welcome to the Pokedex</h2>
          <img src="https://giphy.com/embed/YyL1MxPDVJ9q8" class="gif" frameBorder="0">
          <p>Search for a Pokemon:</p>
        </div>
      </div>
  
      <div class="search-bar">
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Enter Pokemon name">
            <button type="submit">Search</button>
        </form>
      </div>

      <!-- Blank div for pokemon profile -->
      <div id="pokemon_profile_main"></div>
    

    <!-- HTML content for comparison radar chart -->
    <div id="comparison_web" style="width: 400px; height: 300px;"></div>

    <!-- HTML content for speed comparison chart -->
    <div id="speed_chart"></div>

<!-- D3.js -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- Anychart.js -->
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
<!-- Our Js -->
<script src="static/pokedex.js"></script>

</body>
</html>
